@import "compass/css3/border-radius";

$lineColor: #484;
$width: 924;

body {
  font-family: 'Antic', tahoma, verdana, sans-serif;
  font-size: 0.9em;
}

#container {
  width: $width;
  height: 510px;
  background-color: white;
  padding: 15px 0;
  margin: 50px auto 5px;
  border-bottom: 5px solid $lineColor;
}

#logo {
  font-size: 200%;
  margin-bottom: 10px;
}
  
#latexColumn {
  float: left;
  position: relative;
  top: -20px;
  padding-top: 20px;
  width: 525px;
  padding-right: 20px;
  border-right: 5px solid $lineColor;
  
  #previewArea {
    position: relative;
    height: 152px;
    
    &.open {
      height: 418px;
      #preview {
        height: 405px;
      }
    }
    
    &.closed {
      height: 12px;
      #preview {
        height: 0;
        border: 0px;
      }
    }
    
    #preview {
      border: 1px solid #ddd;
      height: 140px;
      width: 520px;
      padding-left: 5px;
      overflow: auto;
      font-family: "EB Garamond", serif;
      // font-family: "Computer Modern", "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-size: 1.2em;
      
      p {
        margin-top: 3px;
        margin-bottom: 0.75em;
      }
      
      img {
        padding: 0 2px;
      }
    }
  
    #previewMessage {
      //height: 0;
      position: absolute;
      top: 51px;
      width: 505px;
      text-align: center;
      font-family: "Helvetica", "Arial", sans-serif;
      font-size: 200%;
      font-weight: bold;
      color: #ccc;
    }
    
    .arrows a {
      position: absolute;
      left: -18px;
      cursor: pointer;
      font-size: 0.85em;
      font-family: sans-serif;
      color: $lineColor;
      
      &#previewArrow {
        bottom: 8px;
      }
      
      &#editorArrow {
        bottom: -8px;
      }
    }
  }
  
  #editor {
    height: 265px;
    width: 100%;
  }
  
  .CodeMirror {
    border-top: 1px solid black; 
    border-bottom: 1px solid black;
    line-height: 1.2em;
    font-size: 12px;
    
    &.open {
      .CodeMirror-scroll {
        height: 405px;
      }
    }
    
    &.closed {
      border-top: 0;
      .CodeMirror-scroll {
        height: 0;
      }
    }
    
    .CodeMirror-scroll {
      height: 265px;
      background: white;
      
      &.fullscreen {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        margin: 0;
        padding: 0;
        border: 0px solid #BBBBBB;
        opacity: 1;
      } 
    }
    
    .activeline {
      background: darken(#f0fcff, 2) !important;
    }
  }
  
  #counterRow {
    div {
      float: left;
      position: relative;
      
      &#settingsArea {
        float: left;
        width: 60%;
      }
      
      &#counterArea {
        float: left;
        width: 40%;
        text-align: right;
        top: 3px;
      }
    }
  }
}

#marmosetColumn {
  float: left;
  width: 354px;
  padding-left: 20px;
  
  #localStorageWarning {
    font-size: 1.2em;
    float: left;
    // margin-top: 152px;
    border: 1px solid $lineColor;
  }
  
  #marmoset {
    height: 415px;
    width: 100%;
  }
  
  #marmosetCredit {
    position: relative;
    top: 4px;
    font-size: 0.75em;
    text-align: right;
    
    a {
      text-decoration: none;
    }
  }
  
  #nextMarmoset {
    display: none;
  }
  
  #notAMarmoset {
    float: right;
    position: relative;
    top: 5px;
    display: none; // hide for now
  }
}

#footer {
  width: $width;
  text-align: right;
  margin: 0 auto;
  
  a {
    color: black;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

#pages {
  width: $width;
  margin: 0 auto 50px;
  
  .page {
    display: none;
    
    &.shown {
      display: block;
    }
  }
  
  .title {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  
  #featuresPage {
    li {
      margin-bottom: 0.8em;
      
      ul {
        margin: 0.5em 0;
        
        li {
          margin-bottom: 0;
        }
      }
    }
  }
}
